@page
@model WebApp.Pages_Cars.CreateModel

@{
    ViewData["Title"] = "Add Car";
}

<h2>Add new car</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Car.CarPlate" class="control-label"></label>
                <input asp-for="Car.CarPlate" class="form-control" />
                <span asp-validation-for="Car.CarPlate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Car.CarMake" class="control-label"></label>
                <input asp-for="Car.CarMake" class="form-control" />
                <span asp-validation-for="Car.CarMake" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Car.CarModel" class="control-label"></label>
                <input asp-for="Car.CarModel" class="form-control" />
                <span asp-validation-for="Car.CarModel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Car.Description" class="control-label"></label>
                <input asp-for="Car.Description" class="form-control" />
                <span asp-validation-for="Car.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Car.CarYear" class="control-label"></label>
                <input asp-for="Car.CarYear" class="form-control" />
                <span asp-validation-for="Car.CarYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Car.FuelId" class="control-label"></label>
                <select asp-for="Car.FuelId" class ="form-control" asp-items="ViewBag.FuelId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Car.CarCurrentMileage" class="control-label"></label>
                <input asp-for="Car.CarCurrentMileage" class="form-control" />
                <span asp-validation-for="Car.CarCurrentMileage" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="Car.CarInitialMileage" class="control-label"></label>
                <input asp-for="Car.CarInitialMileage" class="form-control" />
                <span asp-validation-for="Car.CarInitialMileage" class="text-danger"></span>
            </div>*@
            @*<div class="form-group">
                <label asp-for="Car.CarTime" class="control-label"></label>
                <input asp-for="Car.CarTime" class="form-control" />
                <span asp-validation-for="Car.CarTime" class="text-danger"></span>
            </div>*@
            @*<div class="form-group">
                <input type="submit" value="Create" class="btn btn-secondary" />
            </div>*@
            <div class="btn-group btn-group-lg btn-group-md btn-group-sm" role="group" aria-label="Basic example">
                <input type="submit" value="Create" class="btn btn-secondary" />
                <a asp-page="./Index" class="btn btn-secondary">Back to List</a>
            </div>
            
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
