@page
@model IndexModel
@{
    ViewData["Title"] = "New app - ";
}

<div class="text-center">
    <h1 class="display-4">Welcome to this page. Look around.</h1>
    <p>Description is not ready yet.</p>
</div>
